[submodule "themes/twentyfourteen"]
	path = themes/twentyfourteen
	url = https://github.com/jaden/twentyfourteen.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
